

.hero-container{
    display:flex;
    min-height: 80vh;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: rgb(247, 250, 252);
    border:rgba(34, 32, 32, 0.92) solid 1px;
    
    
}

.control-center{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vw;
           
}

.front-page-image{
    width:40vw;
    height:60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: black solid 1px;
    box-shadow: -15px 0px 10px 1px #aaaaaa;

}

.text-box1{
   display:flex;
   flex-direction: column;
   border: rgb(226, 232, 240) solid 0px;
    width: 40vw;
   border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(22, 22, 21);
}



.buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255,255,255, 0.92);
    margin-top: 20px;
    text-decoration-color: rgba(255,255,255, 0.92);
    justify-content: flex-start;
}

.browse{
    border: rgba(255,255,255, 0.92);
    border-radius: 5px;
    background: rgb(49, 130,206);
    padding:5px;
    text-decoration:none;
    color: rgba(255,255,255, 0.92);
    padding-left: 39px;
    padding-right: 39px;
    margin-right: 10px;
}

.tell{

    border: solid black 2px;
    border-radius: 5px;
    background: black;
    padding:5px;
    text-decoration:none;
    color: rgba(255,255,255, 0.92);
    padding-left: 39px;
    padding-right: 39px;
    margin-right: 10px;
}

#tell-aux{
    color: rgba(255,255,255,0.92);
}

#tell-aux:hover{
    color: rgba(255,255,255,0.92);
}

.buttons:hover{
    color:rgba(255,255,255, 0.92);
}

#browse-aux{
    color: rgba(255,255,255,0.92);
}

#browse-aux:hover{
    color: rgba(255,255,255,0.92);
}

.content-head{
    display:block;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(43,108,176);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 24px;
    box-sizing: border-box;
    border: rgb(226, 232, 240) solid 0px;
    margin:0px;
    margin-top:32px;
    
}

.bold-text{
    box-sizing: border-box;
    padding:5px;
    display:block;
    text-align:left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:60px;
    font-weight: 800px;
    margin: 0;
    letter-spacing: -1.5px;
    line-height: 60px;
    color: rgb(43, 108, 176);
    margin-block: 0px 16px;
    margin:0px;
    
   
}

.para{
    display:block;
    color:rgb(74, 85, 104);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-block: 0px 16px;
    box-sizing: border-box;
    border-color: rgb(226, 232, 240) solid 0px;
    margin:0px;
    margin-top: 16px;


}
 .all_elements{
     display: flex;
     width: 80%;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto;
 }

 .navigation-text{
     display:flex;
     flex-direction: row;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     line-height: 24px;
     

 }

 .hero-sign{
     margin-top: 10px;
     color: rgba(44, 42, 42, 0.92);
     word-spacing: 5px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     line-height: 24px;
 }