.header-container{
    display:flex;
    justify-content: space-between;
    background-size: contain;
    padding: 10px 10px;
    font-family: "FiraGO", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #121E48
    
}

.all-items{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
}

.nav-menu{
    padding:10px;
    text-decoration: none;
    
}

.nav-menu:hover{
    text-decoration:underline;
}





    
