.header-container{
    display:flex;
    justify-content: space-between;
    background-size: contain;
    padding: 10px 10px;
    
}

.all-items{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
}

.nav-menu{
    padding:10px;
    text-decoration: none;
    
}

.nav-menu:hover{
    text-decoration:underline;
}





    
