.footer-container{
    max-width: 1170px;
    margin:auto;
}



.footer-row{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}



ul{
    list-style: none;
}



.footer{
    background-color: #0F1838;
    padding: 70px 0;
    font-family: inherit;
    color:whitesmoke;
    font-size: 100%;
}

.footer-col{
    width:25%;
    padding:0 15px;
}




.reservation{
    border:0;
    font-family: inherit;
    font-size: 30%;
    color: white;
    vertical-align: baseline;
}

.button-text{
    margin-top: auto;
    font-family: inherit;
    color: white;
    
}

.footer-button{

    text-decoration: none;

}








