.footer-container{
    max-width: 1170px;
    margin:auto;
}



.footer-row{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}



ul{
    list-style: none;
}



.footer{
    background-color: black;
    padding: 70px 0;
}

.footer-col{
    width:25%;
    padding:0 15px;
}

.footer-col h4{
    font-size: 15px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    position:relative;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    color: #BBBBBB;
    display: block;
    transition: all 0.3s ease;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #1ee95b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}








