.feature-container{
    display:flex;
    min-height: 80vh;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: rgb(238, 247, 253);
    
    
    
}

.feature-control{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vw;
           
}

.feature-text{
    display:flex;
    flex-direction: column;
    border: rgb(226, 232, 240) solid 0px;
     width: 40vw;
    border-radius: 5px;
     font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgb(22, 22, 21);
 }

 .feature-head{
    display:block;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(43,108,176);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 24px;
    box-sizing: border-box;
    border: rgb(226, 232, 240) solid 0px;
    margin:0px;
    margin-top:32px;
    
}

.feature-elements{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.bold-sec{
    box-sizing: border-box;
    padding:5px;
    display:block;
    text-align:left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:60px;
    font-weight: 800px;
    letter-spacing: -1.5px;
    line-height: 60px;
    color: rgb(43, 108, 176);
    margin-block: 0px 16px;
    margin:0px;
    margin-left: -6px;
}


.feature-image{
    width:40vw;
    height:50vh;
    margin-top: 80px;
    background-size:cover;
    background-repeat: no-repeat;
    border: black white 1px;
    
}

.section-pre-link{
    
    color:rgb(74, 85, 104);

}

.section-pre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:rgb(74, 85, 104);

}